{% extends 'base.html' %}
{% load static %}

{% block title %} My Blog {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}" />
{% endblock %}

{% block content %}

    <header id="main-navigation">
        <h1><a href="">Tom Blog</a></h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="" alt="Tom - The author of this Blog">
            <h2>Tom's Blog</h2>
        </header>
        <p>Hi, I am Tom and I love to blog about tech & world!</p>
    </section>

    <section id="latest-posts">
        <h2>My latest thoughts</h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="" alt="Mountain Hiking" />
                        <div class="post__content">
                            <h3>Mountain Hiking</h3>
                            <p>some text about Mountain hiking</p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>Some info about me</p>
        <p>My goal is keep on growing as a developer</p>
    </section>

{% endblock content %}